<div local-class="base-wrapper">
  <div local-class="main {{this.theme}}">
    <div local-class="function-keys">
      <Keyboard::FunctionKeys />
    </div>
    <div local-class="other-keys">
      <Keyboard::NormalKeys />
      <Keyboard::NormalKeys />
      <Keyboard::NormalKeys />
      <Keyboard::NormalKeys />
      <Keyboard::SpaceBarRow />
    </div>
  </div>

  <div>
    <div local-class="key" type="button">
  <div>
    <span local-class="text">
      C
    </span>
    <div local-class="angle-shadow left-top top-section"></div>
    <div local-class="angle-shadow right-top top-section"></div>
    <div local-class="angle-shadow left-bottom bottom-section"></div>
    <div local-class="angle-shadow right-bottom bottom-section"></div>
  </div>
</div>
  </div>
</div>