<button local-class="key {{@buttonSize}} {{if @isLast "last"}}">
  <span local-class="content {{@textSize}}">
    {{yield}}
  </span>
  <span local-class="key-base"></span>
  <span local-class="glow"></span>
</button>